<div class="bg-[#FFFFFF] min-h-screen p-4 sm:p-6 lg:p-0">
    <div class="bg-white  overflow-hidden">

        <div class="flex items-center justify-between p-3 sm:p-3 border-b border-gray-200">
            <h2 class="text-base font-semibold text-gray-800">Parties</h2>
            <div class="flex items-center space-x-2">
                <p-button (click)="showDialog('add',[])" label="Add" icon="pi pi-plus" variant="text" [raised]="true"
                    styleClass="orange-button" />
            </div>
        </div>

        <app-table-template [data]="data" [columns]="columns" [pageSize]="pageSize" [totalCount]="totalCount"
            [isLoading]="isLoading" [currentPage]="pageNo" [sortColumn]="sortColumn" [sortDirection]="sortDirection"
            [searchText]="searchText" [actionTemplate]="actionTemplateRef" (pageChange)="onPageChange($event)"
            (searchChange)="onSearchChange($event)" (sortChange)="onSortChange($event)"
            (pageSizeChange)="onPageSizeChange($event)">
        </app-table-template>

        <!-- Action Template -->
        <ng-template #actionTemplateRef let-item>
            <button type="button" class="text-gray-400 hover:text-gray-600 cursor-pointer" (click)="op.toggle($event)">
                <i class="pi pi-ellipsis-v cursor-pointer"></i>
            </button>
            <p-popover #op>
                <div class="flex flex-col">
                    <button (click)="showDialog('view', item); op.hide()" pTooltip="View"
                        class="px-4 py-2 hover:bg-gray-100 text-left">
                        <i class="pi pi-eye"></i>
                    </button>
                    <button (click)="showDialog('update', item); op.hide()" pTooltip="Update"
                        class="px-4 py-2 hover:bg-gray-100 text-left">
                        <i class="pi pi-pencil"></i>
                    </button>
                    <button (click)="deleteItem(item); op.hide()" class="px-4 py-2 hover:bg-gray-100 text-left"
                        pTooltip="Delete">
                        <i class="pi pi-trash"></i>
                    </button>
                </div>
            </p-popover>
        </ng-template>

        <ng-template #jsonTemplateRef let-item>
            <button type="button" class="text-gray-400 hover:text-gray-600 cursor-pointer"
                (click)="showGrouplist(item)">
                <i class="pi pi-folder-open cursor-pointer"></i>
            </button>
        </ng-template>

    </div>

    <p-drawer [(visible)]="visible" position="right" [modal]="true" class=""
        [style]="{ width: '60%', 'max-width': '100%'}" (onHide)="onDrawerHide()">
        <ng-template pTemplate="header">
            <div class="flex items-center gap-2">
                <span class="font-semibold text-2xl">{{header}}</span>
                <i class="text-blue-500" [ngClass]="headerIcon"></i>
            </div>
        </ng-template>


        <ng-template pTemplate="content">
            @if(isFormLoading){
            <div class="flex items-center justify-center min-h-[400px]">
                <p-progress-spinner strokeWidth="8" fill="transparent" animationDuration=".5s"
                    [style]="{ width: '50px', height: '50px' }" />
            </div>
            }
            @else {
            <form [formGroup]="groupMasterForm1" class="grid grid-cols-1 md:grid-cols-2 gap-6">

                <!-- Party Type -->
                <div>
                    <label class="block text-sm font-medium text-gray-700 mb-1">Party Type *</label>
                    <p-select [options]="partyTypesdrp" formControlName="partytype" optionLabel="drpOption"
                        optionValue="drpValue" [filter]="true" filterBy="drpOption" [showClear]="true"
                        placeholder="Select Party Type" [class.border-red-500]="isInvalid('partytype')"
                        class="custom-p-select w-full">
                    </p-select>
                    @if(isInvalid('partytype')){
                    <p class="text-red-500 text-xs mt-1">Party Type is required.</p>
                    }
                </div>

                <!-- Party Name -->
                <div>
                    <label class="block text-sm font-medium text-gray-700 mb-1">Party Name *</label>
                    <input type="text" maxlength="100" formControlName="Partyname" placeholder="Enter Party Name"
                        [class.border-red-500]="isInvalid('Partyname')"
                        class="w-full rounded-md text-base border-2 border-gray-300 px-3 py-1 focus:outline-none focus:border-blue-500 focus:ring-2 focus:ring-blue-200" />
                    @if(isInvalid('Partyname')){
                    <p class="text-red-500 text-xs mt-1">
                        @if(groupMasterForm1.get('Partyname')?.errors?.['required']){
                        Party Name is required.
                        } @else if(groupMasterForm1.get('Partyname')?.errors?.['invalidValue']){
                        Only dots or blank spaces are not allowed.
                        } @else if(groupMasterForm1.get('Partyname')?.errors?.['noAlphaNumeric']){
                        Must contain at least one letter or number.
                        }
                    </p>
                    }

                </div>

                <!-- Internal or External -->
                <div>
                    <label class="block text-sm font-medium text-gray-700 mb-1">Internal or External *</label>
                    <p-select [options]="internaldrp" formControlName="internalExternal" optionLabel="drpOption"
                        optionValue="drpValue" [filter]="true" filterBy="drpOption" [showClear]="true"
                        placeholder="Select Internal or External" [class.border-red-500]="isInvalid('internalExternal')"
                        class="custom-p-select w-full" appendTo="body">
                    </p-select>
                    @if(isInvalid('internalExternal')){
                    <p class="text-red-500 text-xs mt-1">Internal or External is required.</p>
                    }
                </div>

                <!-- Email-ID -->
                <div>
                    <label class="block text-sm font-medium text-gray-700 mb-1">E-mail *</label>
                    <input type="email" maxlength="100" formControlName="email" placeholder="Enter E-mail"
                        [class.border-red-500]="isInvalid('email')" class="w-full rounded-md text-base border-2 border-gray-300 px-3 py-1 
             focus:outline-none focus:border-blue-500 focus:ring-2 focus:ring-blue-200" />
                    @if (isInvalid('email')) {
                    <p class="text-red-500 text-xs mt-1">
                        @if (groupMasterForm1.get('email')?.errors?.['required']) {
                        E-mail is required.
                        } @else if (groupMasterForm1.get('email')?.errors?.['email']) {
                        Please enter a valid e-mail address.
                        } @else if (groupMasterForm1.get('email')?.errors?.['pattern']) {
                        Invalid e-mail format.
                        }
                    </p>
                    }
                </div>

                <!-- Mobile No -->
                <div>
                    <label class="block text-sm font-medium text-gray-700 mb-1">Mobile No *</label>
                    <input type="text" maxlength="10" formControlName="mobile" placeholder="Enter Mobile No"
                        inputmode="numeric" pattern="[0-9]*"
                        (keypress)="($event.charCode >= 48 && $event.charCode <= 57) ? true : $event.preventDefault()"
                        [class.border-red-500]="isInvalid('mobile')"
                        class="w-full rounded-md text-base border-2 border-gray-300 px-3 py-1 focus:outline-none focus:border-blue-500 focus:ring-2 focus:ring-blue-200" />

                    @if (isInvalid('mobile')) {
                    <p class="text-red-500 text-xs mt-1">
                        @if (groupMasterForm1.get('mobile')?.errors?.['required']) {
                        Mobile No is required.
                        } @else if (groupMasterForm1.get('mobile')?.errors?.['pattern']) {
                        Only numeric values are allowed.
                        }
                    </p>
                    }
                </div>

                <div>
                    <label class="block text-sm font-medium text-gray-700 mb-1">PAN/CIN/GSTINl *</label>
                    <input type="text" maxlength="100" formControlName="panGSTIN" placeholder="Enter pen/cin"
                        [class.border-red-500]="isInvalid('panGSTIN')"
                        class="w-full rounded-md text-base border-2 border-gray-300 px-3 py-1 focus:outline-none focus:border-blue-500 focus:ring-2 focus:ring-blue-200" />
                    @if(isInvalid('panGSTIN')){
                    <p class="text-red-500 text-xs mt-1">
                        @if(groupMasterForm1.get('panGSTIN')?.errors?.['required']){
                        PAN/CIN/GSTINl is required.
                        } @else if(groupMasterForm1.get('panGSTIN')?.errors?.['invalidValue']){
                        Only dots or blank spaces are not allowed.
                        } @else if(groupMasterForm1.get('panGSTIN')?.errors?.['noAlphaNumeric']){
                        Must contain at least one letter or number.
                        }
                    </p>
                    }

                </div>

            </form>
            }

        </ng-template>

        <ng-template pTemplate="footer">
            @if(postType !== 'view'){
            <div class="flex justify-end space-x-3 pt-4 border-t-2 border-gray-300 mt-4">
                <button pButton type="submit" (click)="onSubmit($event)"
                    class="px-6 py-2 bg-indigo-600 hover:bg-indigo-700 text-white rounded-lg shadow transition">{{
                    postType === 'add' ? 'Submit' : 'Update' }}</button>
                @if(postType === 'add'){
                <button pButton label="Reset" (click)="onClear()"
                    class="px-6 py-2 bg-gray-200 hover:bg-gray-300 text-gray-800 rounded-lg shadow transition"></button>
                }
            </div>
            }
        </ng-template>


    </p-drawer>

    <!-- Folder Data SHowing -->
    <p-dialog [modal]="true" [(visible)]="itemDailog" [style]="{  width: '60%', 'max-width': '100%'}">
        <ng-template pTemplate="header" class="p-[1rem]">
            <div class="flex items-center gap-2">
                <span class="font-semibold text-2xl">Group List</span>
                <i class="text-blue-500 pi pi-list"></i>
            </div>
        </ng-template>
        <ng-template pTemplate="content">
            <table class="min-w-full divide-y divide-gray-200 mt-6 raised shadow-md rounded-lg">
                <thead class="bg-gray-50">
                    <tr>
                        <th class="px-6 py-3 text-left text-sm font-semibold text-gray-500 uppercase tracking-wider">
                            Organisation
                        </th>
                        <th class="px-6 py-3 text-left text-sm font-semibold text-gray-500 uppercase tracking-wider">
                            Department
                        </th>
                        <th class="px-6 py-3 text-left text-sm font-semibold text-gray-500 uppercase tracking-wider">
                            Designation
                        </th>
                        <th class="px-6 py-3 text-left text-sm font-semibold text-gray-500 uppercase tracking-wider">
                            User
                        </th>
                    </tr>
                </thead>
                <tbody class="bg-white divide-y divide-gray-200">
                    @for (item of groupListArray; track $index) {
                    <tr class="hover:bg-[#F9FAFB]">
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
                            {{item['org']}}
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
                            {{item['dept']}}
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
                            {{item['desg']}}
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
                            {{item['emp']}}
                        </td>
                    </tr>
                    }
                </tbody>
            </table>

        </ng-template>

    </p-dialog>

    <p-confirmdialog></p-confirmdialog>
    <p-toast></p-toast>

</div>