<div class="bg-[#FFFFFF] min-h-screen p-4 sm:p-6 lg:p-0">
    <div class="bg-white  overflow-hidden">
        <div class="flex items-center justify-between p-3 sm:p-3 border-b border-gray-200">
            <h2 class="text-base font-semibold text-gray-800">Group Master</h2>
            <div class="flex items-center space-x-2">
                <p-button (click)="showDialog('add',[])" label="Add" icon="pi pi-plus" variant="text" [raised]="true"
                    styleClass="orange-button" />
            </div>
        </div>
        <app-table-template [data]="data" [columns]="columns" [pageSize]="pageSize" [totalCount]="totalCount"
            [isLoading]="isLoading" [currentPage]="pageNo" [sortColumn]="sortColumn" [sortDirection]="sortDirection"
            [searchText]="searchText" [actionTemplate]="actionTemplateRef" [jsonTemplate]="jsonTemplateRef"
            (pageChange)="onPageChange($event)" (searchChange)="onSearchChange($event)"
            (sortChange)="onSortChange($event)" (pageSizeChange)="onPageSizeChange($event)">
        </app-table-template>
        <!-- Action Template -->
        <ng-template #actionTemplateRef let-item>
            <button type="button" class="text-gray-400 hover:text-gray-600 cursor-pointer" (click)="op.toggle($event)">
                <i class="pi pi-ellipsis-v cursor-pointer"></i>
            </button>
            <p-popover #op>
                <div class="flex flex-col">
                    <button (click)="showDialog('view', item); op.hide()" pTooltip="View"
                        class="px-4 py-2 hover:bg-gray-100 text-left">
                        <i class="pi pi-eye"></i>
                    </button>
                    <button (click)="showDialog('update', item); op.hide()" pTooltip="Update"
                        class="px-4 py-2 hover:bg-gray-100 text-left">
                        <i class="pi pi-pencil"></i>
                    </button>
                    <button (click)="deleteItem(item); op.hide()" class="px-4 py-2 hover:bg-gray-100 text-left"
                        pTooltip="Delete">
                        <i class="pi pi-trash"></i>
                    </button>
                </div>
            </p-popover>
        </ng-template>
        <ng-template #jsonTemplateRef let-item>
            <button type="button" class="text-gray-400 hover:text-gray-600 cursor-pointer"
                (click)="showGrouplist(item)">
                <i class="pi pi-folder-open cursor-pointer"></i>
            </button>
        </ng-template>
    </div>

    <p-drawer [(visible)]="visible" position="right" [modal]="true" (onHide)="onDrawerHide()"
        class="sm:w-[60%] w-full !max-w-full" [style]="{ width: '60%', 'max-width': '100%' }">
        <ng-template pTemplate="header">
            <div class="flex items-center gap-2">
                <span class="font-semibold text-2xl">{{header}}</span>
                <i class="text-blue-500" [ngClass]="headerIcon"></i>
            </div>
        </ng-template>

        <ng-template pTemplate="content">
            @if(isFormLoading){
            <div class="flex items-center justify-center min-h-[400px]">
                <p-progress-spinner strokeWidth="8" fill="transparent" animationDuration=".5s"
                    [style]="{ width: '50px', height: '50px' }" />
            </div>
            }
            @else {
            <form [formGroup]="groupMasterForm" (ngSubmit)="onSubmit($event)"
                class="grid grid-cols-1 md:grid-cols-2 gap-6">
                <!-- Group Name -->
                <div>
                    <label class="block text-sm font-medium text-gray-700 mb-1">Group Name*</label>
                    <input type="text" formControlName="groupName" placeholder="Enter group name"
                        [class.border-red-500]="isInvalid('groupName')"
                        class="w-full rounded-md text-base border-2 border-gray-300 px-3 py-1 focus:outline-none focus:border-blue-500 focus:ring-2 focus:ring-blue-200" />
                    @if(isInvalid('groupName')){
                    <p class="text-red-500 text-xs mt-1">Field name is required.</p>
                    }
                </div>

                <!-- Group Type -->
                <div>
                    <label class="block text-sm font-medium text-gray-700 mb-1">Group Type*</label>
                    <p-select [options]="groupTypes" formControlName="groupType" optionLabel="drpOption" [filter]="true"
                        filterBy="drpOption" [showClear]="true" placeholder="Select Group Type"
                        (onChange)="toggleDropDowns()" [class.border-red-500]="isInvalid('groupType')"
                        class="custom-p-select w-full">
                    </p-select>
                    @if(isInvalid('groupType')){
                    <p class="text-red-500 text-xs mt-1">Group type is required.</p>
                    }
                </div>


                <!-- Conditional fields with signals -->
                @if(showOrganisation()){
                <div>
                    <label class="block text-sm font-medium text-gray-700 mb-1">Organisation</label>
                    <p-select [options]="orgDrp" formControlName="organisation" optionLabel="drpOption" [filter]="true"
                        filterBy="drpOption" [showClear]="true" placeholder="Select organisation"
                        (onChange)="onChangeOrg()" [class.border-red-500]="isInvalid('organisation')"
                        class="custom-p-select w-full">
                    </p-select>
                    @if(isInvalid('organisation')){
                    <p class="text-red-500 text-xs mt-1">Organisation is required.</p>
                    }
                </div>
                }

                @if(showDepartment()){
                <div>
                    <label class="block text-sm font-medium text-gray-700 mb-1">Department</label>
                    <p-select [options]="departmentDrpNew" formControlName="department" optionLabel="drpOption"
                        (onChange)="onChangeDepartment()" [filter]="true" filterBy="drpOption" [showClear]="true"
                        placeholder="Select department" [class.border-red-500]="isInvalid('department')"
                        class="custom-p-select w-full">
                    </p-select>
                    @if(isInvalid('department')){
                    <p class="text-red-500 text-xs mt-1">Department is required.</p>
                    }
                </div>
                }

                @if(showDesignation()){
                <div>
                    <label class="block text-sm font-medium text-gray-700 mb-1">Designation</label>
                    <p-select [options]="designationDrpNew" formControlName="designation" optionLabel="drpOption"
                        [filter]="true" filterBy="drpOption" [showClear]="true" placeholder="Select designation"
                        (onChange)="getUser()" [class.border-red-500]="isInvalid('designation')"
                        class="custom-p-select w-full">
                    </p-select>
                    @if(isInvalid('designation')){
                    <p class="text-red-500 text-xs mt-1">Designation is required.</p>
                    }
                </div>
                }

                @if(showUser()){
                <div>
                    <label class="block text-sm font-medium text-gray-700 mb-1">User</label>
                    <p-select [options]="userDrp" formControlName="user" optionLabel="drpOption" [filter]="true"
                        filterBy="drpOption" [showClear]="true" placeholder="Select user"
                        [class.border-red-500]="isInvalid('user')" class="custom-p-select w-full">
                    </p-select>
                    @if(isInvalid('user')){
                    <p class="text-red-500 text-xs mt-1">User is required.</p>
                    }
                </div>
                }

                @if(showAddBtn()){
                @if(postType !=='view'){

                <div class="gap-2">
                    <!-- @if(!selectedItemEdit){ -->
                    <button pButton [raised]="true" type="button" (click)="AddRow()"
                        class="px-2 mt-4 text-[11px] py-1 bg-indigo-600 hover:bg-indigo-700 cursor-pointer text-white rounded-lg shadow transition cursor-pointer"><i
                            class="pi pi-plus text-sm"></i>
                        Add
                    </button>
                    <!-- } -->

                    <!-- @else {

                    <button pButton [raised]="true" type="button"
                        class="px-2 mt-4 text-[11px] py-1 bg-indigo-600 hover:bg-indigo-700 cursor-pointer text-white rounded-lg shadow transition cursor-pointer"><i
                            class="pi pi-pencil text-sm"></i>
                        Update
                    </button>
                    <button pButton [raised]="true" type="button"
                        class="px-2 mt-4 text-[11px] py-1 bg-indigo-600 hover:bg-indigo-700 cursor-pointer text-white rounded-lg shadow transition cursor-pointer"><i
                            class="pi pi-filter-slash text-sm"></i>
                        Update
                    </button>
                    } -->

                </div>


                }

                }
            </form>

            @if(childArrData.length){
            <table class="min-w-full divide-y divide-gray-200 mt-6 raised shadow-md rounded-lg">
                <thead class="bg-gray-50">
                    <tr>
                        <th class="px-6 py-3 text-left text-sm font-semibold text-gray-500 uppercase tracking-wider">
                            Organisation
                        </th>
                        <th class="px-6 py-3 text-left text-sm font-semibold text-gray-500 uppercase tracking-wider">
                            Department
                        </th>
                        <th class="px-6 py-3 text-left text-sm font-semibold text-gray-500 uppercase tracking-wider">
                            Designation
                        </th>
                        <th class="px-6 py-3 text-left text-sm font-semibold text-gray-500 uppercase tracking-wider">
                            User
                        </th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody class="bg-white divide-y divide-gray-200">
                    @for (item of childArrData;let i = $index; track item;) {
                    <tr class="hover:bg-[#F9FAFB]">
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
                            {{item['org']}}
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
                            {{item['dept']}}
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
                            {{item['desg']}}
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
                            {{item['emp']}}
                        </td>

                        <td
                            class="px-6 py-4 whitespace-nowrap text-sm text-gray-900 flex justify-center items-center gap-2">
                            <!-- @if(postType=='update'){
                            <button pButton type="button" severity="info" [raised]="true">
                                <i class="pi pi-pencil"></i>
                            </button>
                            } -->
                            <button pButton type="button" severity="danger" (click)="onDeleteRow(item,i)"
                                [raised]="true" [disabled]="postType=='view'">
                                <i class="pi pi-trash"></i>
                            </button>


                        </td>
                    </tr>
                    }
                </tbody>
            </table>
            }
            }
        </ng-template>
        <ng-template pTemplate="footer">
            @if(postType !== 'view'){
            <div class="flex justify-end space-x-3 pt-4 border-t-2 border-gray-300 mt-4">
                <button pButton type="submit" (click)="onSubmit($event)"
                    class="px-6 py-2 bg-indigo-600 hover:bg-indigo-700 text-white rounded-lg shadow transition">{{
                    postType === 'add' ? 'Submit' : 'Update' }}</button>
                @if(postType === 'add'){
                <button pButton label="Reset" (click)="onClear()"
                    class="px-6 py-2 bg-gray-200 hover:bg-gray-300 text-gray-800 rounded-lg shadow transition"></button>
                }
            </div>
            }
        </ng-template>
    </p-drawer>

    <p-dialog [modal]="true" [(visible)]="itemDailog" [style]="{  width: '60%', 'max-width': '100%'}">
        <ng-template pTemplate="header" class="p-[1rem]">
            <div class="flex items-center gap-2">
                <span class="font-semibold text-2xl">Group List</span>
                <i class="text-blue-500 pi pi-list"></i>
            </div>
        </ng-template>
        <ng-template pTemplate="content">
            <table class="min-w-full divide-y divide-gray-200 mt-6 raised shadow-md rounded-lg">
                <thead class="bg-gray-50">
                    <tr>
                        <th class="px-6 py-3 text-left text-sm font-semibold text-gray-500 uppercase tracking-wider">
                            Organisation
                        </th>
                        <th class="px-6 py-3 text-left text-sm font-semibold text-gray-500 uppercase tracking-wider">
                            Department
                        </th>
                        <th class="px-6 py-3 text-left text-sm font-semibold text-gray-500 uppercase tracking-wider">
                            Designation
                        </th>
                        <th class="px-6 py-3 text-left text-sm font-semibold text-gray-500 uppercase tracking-wider">
                            User
                        </th>
                    </tr>
                </thead>
                <tbody class="bg-white divide-y divide-gray-200">
                    @for (item of groupListArray; track $index) {
                    <tr class="hover:bg-[#F9FAFB]">
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
                            {{item['org']}}
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
                            {{item['dept']}}
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
                            {{item['desg']}}
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
                            {{item['emp']}}
                        </td>
                    </tr>
                    }
                </tbody>
            </table>

        </ng-template>

    </p-dialog>

    <p-confirmdialog></p-confirmdialog>
    <p-toast></p-toast>
</div>