<div class="bg-[#FFFFFF] min-h-screen p-4 sm:p-6 lg:p-0">

    <div class="bg-white overflow-hidden">
        <div class="flex items-center justify-between p-3 border-b border-gray-200">
            <h2 class="text-base font-semibold text-gray-800">
                <p-breadcrumb [model]="breadcrumbItems"></p-breadcrumb>
            </h2>

            <div class="flex items-center space-x-2">
                <p-button label="Add {{ FormName }}" icon="pi pi-plus" styleClass="orange-button" [raised]="true"
                    (click)="showDialog()">
                </p-button>
            </div>
        </div>
        <app-table-template [data]="bonusAccrualData" [columns]="columns" [pageSize]="pageSize"
            [totalCount]="totalCount" [isLoading]="isLoading" [currentPage]="pageNo" (pageChange)="onPageChange($event)"
            (refresh)="getViewData(true)" (searchChange)="onSearchChange($event)" [showSortButtons]="false"
            (pageSizeChange)="onPageSizeChange($event)" [actionTemplate]="actionTemplateRef">

            <ng-template #actionTemplateRef let-item let-i="rowIndex">
                <button type="button" class="text-gray-600 hover:text-gray-900 cursor-pointer p-button-text"
                    (click)="op.toggle($event)">
                    <i class="pi pi-ellipsis-v text-xl"></i>
                </button>

                <p-popover #op>
                    <div class="flex flex-col">


                        <button (click)="showDialog('view', item); op.hide()" title="View"
                            class="px-4 py-2 hover:bg-gray-100 text-left">
                            <span>
                                <i class="pi pi-eye"></i> View
                            </span>
                        </button>
                    </div>
                </p-popover>
            </ng-template>

        </app-table-template>
    </div>

    <p-drawer [(visible)]="visible" position="right" [modal]="true" [style]="{ width: drawerSize }"
        (onHide)="onDrawerHide()">

        <ng-template pTemplate="header">
            <div class="flex items-center gap-2">
                <span class="font-semibold text-xl">{{ header }}</span>
                <i class="text-blue-500" [ngClass]="headerIcon"></i>
            </div>
        </ng-template>

        <form class="p-4" [formGroup]="priceListForm" (ngSubmit)="onSubmitCall()">

            <div class="grid grid-cols-2 gap-4">

                <div>
                    <label>Organization <em class="marked">*</em></label>
                    <p-select formControlName="organizationId" [options]="organizationDrp" optionLabel="drpOption"
                        optionValue="drpValue" placeholder="Select Organization" [filter]="true" class="w-full">
                    </p-select>
                    @if(priceListForm.get('organizationId')?.invalid && priceListForm.get('organizationId')?.touched){
                    <span class="text-red-500">Organization is required</span>
                    }
                </div>

                <div>
                    <label>Project <em class="marked">*</em></label>
                    <p-select formControlName="projectId" [options]="projectDrp" optionLabel="drpOption"
                        optionValue="drpValue" placeholder="Select Project" [filter]="true" appendTo="body"
                        class="w-full">
                    </p-select>
                    @if(priceListForm.get('projectId')?.invalid && priceListForm.get('projectId')?.touched){
                    <span class="text-red-500">Project is required</span>
                    }
                </div>

                <div>
                    <label>From Month <em class="marked">*</em></label>
                    <p-select formControlName="fromMonthId" [options]="monthDrp" optionLabel="drpOption"
                        optionValue="drpValue" placeholder="Select Month" [filter]="true" class="w-full">
                    </p-select>
                    @if(priceListForm.get('fromMonthId')?.invalid && priceListForm.get('fromMonthId')?.touched){
                    <span class="text-red-500">From Month is required</span>
                    }
                </div>

                <div>
                    <label>To Month <em class="marked">*</em></label>
                    <p-select formControlName="toMonthId" [options]="monthDrp" optionLabel="drpOption"
                        optionValue="drpValue" placeholder="Select Month" [filter]="true" class="w-full">
                    </p-select>
                    @if(priceListForm.get('toMonthId')?.invalid && priceListForm.get('toMonthId')?.touched){
                    <span class="text-red-500">To Month is required</span>
                    }
                </div>

                <div>
                    <label>From Year <em class="marked">*</em></label>
                    <p-select formControlName="fromYearId" [options]="yearDrp" optionLabel="drpOption"
                        optionValue="drpValue" placeholder="Select Year" [filter]="true" class="w-full">
                    </p-select>
                    @if(priceListForm.get('fromYearId')?.invalid && priceListForm.get('fromYearId')?.touched){
                    <span class="text-red-500">From Year is required</span>
                    }
                </div>

                <div>
                    <label>To Year <em class="marked">*</em></label>
                    <p-select formControlName="toYearId" [options]="yearDrp" optionLabel="drpOption"
                        optionValue="drpValue" placeholder="Select Year" [filter]="true" class="w-full">
                    </p-select>
                    @if(priceListForm.get('toYearId')?.invalid && priceListForm.get('toYearId')?.touched){
                    <span class="text-red-500">To Year is required</span>
                    }
                </div>

            </div>

            <div class="flex justify-end gap-3 pt-4 border-t border-gray-100 mt-4">
                <p-button *ngIf="postType === 'add'" type="button" label="Reset" icon="pi pi-refresh" severity="secondary"
                    (click)="onReset()">
                </p-button>

                <p-button *ngIf="postType === 'add'" type="submit" label="Submit"
                     icon="pi pi-check" [loading]="loading" styleClass="orange-button">
                </p-button>

                <p-button type="button" label="Close" icon="pi pi-times" severity="secondary" (click)="onClose()">
                </p-button>
            </div>

        </form>

    </p-drawer>
    <p-toast></p-toast>
    <p-confirmDialog></p-confirmDialog>
</div>